html, body {
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
}

#editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  max-height: 90%;
}

#footer {
  color: #fff;
  background-color: #65C6C4;
  background: #65C6C4;
  height: 10%;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#run-button {
  color: #fff;
  background-color: #FF5656;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  outline: none;
  position: absolute;
  right: 1%;
  bottom: 11%;
}

.code-symbol {
  display: block;
  color: #fff;
}

#theme-selector {
  /*width: */
  height: 10%;
  font-size: 16px;
}
