revreoh-html, body {
  margin: 0;
  height: 100vh;
}

#editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  max-height: 90%;
}

#footer {
  color: #fff;
  background-color: #b0f2f0;
  background: #b0f2f0;
  height: 10%;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  pointer-events: none;
}

.info-wrapper--visible {
  pointer-events: auto;
}

.info-container {
  position: relative;
  margin: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.7);
  color: #fff;
  background-color: #444444;
  max-width: 350px;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  transform: translateY(202%);
  z-index: 101;
}

.info-text {
  margin: 5px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.info-container--animatable {
  transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}

.info-container--visible {
  transform: none;
}

#hide-settings {
  align-items: flex-end;
  display: block;
}

button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border: none;
  outline: none;
}

#hide-info-button {
  background: url('../icons/back-arrow@2x.png') no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  margin: 20px;
}

#hide-info-button:hover {
  background: url('../icons/back-hover@2x.png') no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
}

#run-button {
  background: url('../icons/run-cup@2x.png') no-repeat;
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 3%;
  bottom: 1.5%;
}

#run-button:hover {
  background: url('../icons/run-cup-hover@2x.png') no-repeat;
  background-size: 44px 44px;
}

#transpile-to-es5 {
  background: url('../icons/ice-cream-11-hover@2x.png') no-repeat;
  background-size: 35px 35px;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 3%;
}

#transpile-to-es5:hover {
  background: url('../icons/ice-cream-11@2x.png') no-repeat;
  background-size: 35px 35px;
}

#transpile-to-es6 {
  background: url('../icons/ES6@2x.png') no-repeat;
  background-size: 35px 35px;
  border-radius: 10px;
  position: absolute;
  left: 10%;
}

#transpile-to-es6:hover {
  background: url('../icons/ES6-hover@2x.png') no-repeat;
  background-size: 35px 35px;
  border-radius: 10px;
}

#upload-button {
  background: url('../icons/open@2x.png') no-repeat;
  background-size: 35px 35px;
}

#upload-button:hover {
  background: url('../icons/open-hover@2x.png') no-repeat;
  background-size: 35px 35px;
}

#save-button {
  background: url('../icons/save-disk@2x.png') no-repeat;
  background-size: 35px 35px;
}

#save-button:hover {
  background: url('../icons/save-disk-hover@2x.png') no-repeat;
  background-size: 35px 35px;
}

#info-button {
  background: url('../icons/information@2x.png') no-repeat;
  background-size: 35px 35px;
}

#info-button:hover {
  background: url('../icons/information-hover@2x.png') no-repeat;
  background-size: 35px 35px;
}

#quit-button {
  background: url('../icons/exit@2x.png') no-repeat;
  background-size: 35px 35px;
}

#quit-button:hover {
  background: url('../icons/exit-hover@2x.png') no-repeat;
  background-size: 35px 35px;
}

.code-symbol {
  display: block;
  color: #fff;
}

select#theme-selector {
  font-size: 12px;
  margin: 0px 5px;
  background-color: #444444;
  color: #ffffff;
}

.dropdown-container select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 70px;
  overflow: hidden;
}
