html, body {
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
}

#editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  max-height: 90%;
}

#footer {
  color: #fff;
  background-color: #65C6C4;
  background: #65C6C4;
  height: 10%;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  pointer-events: none;
}

.settings-wrapper--visible {
  pointer-events: auto;
}

.settings-container {
  position: relative;
  margin: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.8);
  background: #FF5656;
  background-color: #FF5656;
  max-width: 350px;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  transform: translateY(202%);
  z-index: 101;
}

.settings-container--animatable {
  transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}

.settings-container--visible {
  transform: none;
}

#hide-settings {
  align-items: flex-end;
  display: block;
}

#quit-button {
  width: 100px;
}

#run-button {
  color: #fff;
  background-color: #FF5656;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  outline: none;
  position: absolute;
  right: 1%;
  bottom: 11%;
}

#run-button:hover {
  background-color: #FF5668;
}

.code-symbol {
  display: block;
  color: #fff;
}

select#theme-selector, button {
  font-size: 11px;
  margin: 0px 5px;
}

.dropdown-container select, button {
  border: none;
  border-radius: 5px;
  background-color: #4E4E4E;
  padding: 5px;
  color: #fff;
  height: 30px;
  overflow: hidden;
}
